<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">stephendrew.it</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="footer-social">
            <ul class="list-reset">
              {% if site.linkedin %}
              <li><a target="_blank" rel="noopener noreferrer"  href="{{ site.linkedin }}" class="social-profiles-link"><i class="ion ion-logo-linkedin"></i></a></li>
              {% else %} {% endif %}

              {% if site.instagram %}
              <li><a target="_blank" rel="noopener noreferrer"  href="{{ site.instagram }}" class="social-profiles-link"><i class="ion ion-logo-instagram"></i></a></li>
              {% else %} {% endif %}

              {% if site.pinterest %}
              <li><a target="_blank" rel="noopener noreferrer"  href="{{ site.pinterest }}" class="social-profiles-link"><i class="ion ion-logo-pinterest"></i></a></li>
              {% else %} {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->